/* Navigation styling */
nav {
    background-color: #333;
    padding: 1rem;
}

nav a {
    color: white;
    padding: 0.5rem;
    display: block;
    text-decoration: none;
}

/* Heading */
h1 {
    color: #333;
}

/* Main content */
main {
    max-width: 800px;
    margin: 1rem auto;
    padding: 1rem;
}

/* Profile image styling */
main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 5px;
    box-shadow: 0 0 10px #555;
    display: block;
    margin: 0 auto;
}

/* Aside styling */
aside {
    width: 300px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #f4f4f4;
    color: #000
}

/* Aside image styling */
aside img {
    width: 200px;
    height: auto;
    margin: 0 auto;
    display: block;
}

/* Paragraph fix */
p {
    padding: 0;
    margin: 1rem 0;
}

/* Footer styling */
footer {
    margin-top: 2rem;
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 1rem;
}